.page_content {
    min-height: calc(100vh - 78px);

    padding: 100px 0;

    background-color: var(--cor-fundo);

    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 768px){
    .page_content {
        padding: 50px 0;
    }
}