.history_table {
    width: 100%;

    border-collapse: separate;
    border-spacing: 0 32px;
}

.history_table th {
    padding: 0 24px 12px;

    border-bottom: 1px solid #c4c8ce;

    text-align: center;

    font-size: 15px;
    font-weight: 400;

    color: var(--cinza-texto);
}

.status_badge {
    display: inline-block;

    padding: 10px 26px;

    border-radius: 10px;

    background-color: #ccffe0;
    color: #00851c;
}

.history_table a {
    color: var(--vermelho);
    font-size: 20px;
}